<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Transcript</title>
    <link rel="stylesheet" href="../static/css/stylee.css">

</head>
<body>
    <div  id="header">
        
        <div class="header-text">
            <h1>
                YOUTUBE TRANSCRIPT SUMMARIZER
            </h1>
        </div>
    <div align="center">
        <br><br><br>
        <div id="link">
            <h2 style="font-size: 25px;">Enter Youtube Link</h2>
        </div>
    
        <form method="post">
           
            <input style="border-radius: .2em;" for="text" id="link" name="youtubelink"></label><br>
            <div id="icon">
                <button type="submit">Submit</button>
            </div>
            
            
        </form>
    </div>
    
</body>
</html>